django
djangorestframework
django-cors-headers
torch
torchvision
torchaudio
opencv-python
pillow
matplotlib
transformers
timm
accelerate
ultralytics
nltk
requests
numpy
pandas

git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/openai/CLIP.git